# Dla Spring Boota
/target/
!**/src/main/resources/static/
/bin/
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# Logi i raporty
*.log
logs/
*.out

# Spring Boot properties (jeśli masz wrażliwe dane)
/src/main/resources/application*.yml
/src/main/resources/application*.properties

# Pliki konfiguracyjne systemu operacyjnego
.DS_Store
Thumbs.db

# Dla Angulara
node_modules/
dist/
.angular/
.angular-cache/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build i testy
coverage/
reports/

# Możesz dodać tutaj dodatkowe pliki z Angular CLI, jeśli są wrażliwe
/src/environments/environment*.ts

/terraform/.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup